@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: "Azeret Mono", monospace;
    
}
/* Navbar stars here */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 150px;
    max-width: 1440px;
}
.navbar h4 {
    font-size: 28px;
    font-weight: 800;
    line-height: 33px;
    width: 114px;
    height: 34px;
    margin-left: 220px;

}
.navbar input {
    width: 228px;
    font-size: 20px;
    font-weight: 600;
    height: 58px;
    padding: 17px 24px 17px 24px;
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    border-radius: 8px;
    text-align: center;
    color: #0D1321;
    margin-right: 70px;
}
/* Navbar ends here */

/* banner section starts here */

.banner-container {
    max-width: 1440px;
    height: 652px;
    margin: 0 auto;
    background-image: url(../assets/Hero-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.banner-content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.banner-content-container h1 {
    width: 998px;
    height: 136px;
    color: rgb(13, 19, 33);
    font-size: 48px;
    font-weight: 800;
    line-height: 68px;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 32px;
}
.banner-content-container p {
    width: 852px;
    height: 52px;
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 24px;
    margin-bottom: 32px;
}
.linked-btn{
    width: 244px;
    height: 65px;
    display: inline-block;
    padding: 21px 20px;
    border-radius: 8px;
    background: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    margin-top: 32px;
    text-decoration: none;
    color: white;
}

/* banner section ends here */

/* section-1 starts here */

.section-1 {
   max-width: 1140px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin: 0 auto;
   margin-top: 74px;
   padding: 80px 97px;
   gap: 48px;
   border-radius: 16px;
    /* background: rgba(13, 19, 33, 0.02); */
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);

}

.section-header-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.section-header {
    width: 852px;
    height: 39px;
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
    margin: 24px 0px;
}
.section-description {
    width: 852px;
    height: 52px;
    margin: 24px 0px;
    color: rgba(13, 19, 33, 0.7);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    padding-left: 48px;
    padding-right: 48px;
}
.section-content-container {
    display: flex;
    justify-content: space-between;
    padding:48px ;
    box-shadow: 20px 20px 20%;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    border-radius: 10px;

    
}
.section-1-content {
    width: 477px;
    height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    
    

}
.section-1-content-header {
    width: 390px;
    height: 72px;
    color: rgba(13, 19, 33, 0.7);
    font-size: 24px;
    font-weight: 700;
    text-align: left;

}
.section-1-content-description {
    width: 468px;
    height: 52px;
    color: rgba(13, 19, 33, 0.7);
    font-size: 16px;
    font-weight: 400;
    text-align: left;

}
.section-1-content a {
    width: 150px;
    height: 45px;
    color: rgba(13, 19, 33, 0.7);
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    margin-top: 32px;
    padding: 12px 20px 12px 20px;
    border: 2px solid rgba(13, 19, 33, 0.7);
    text-decoration: none;

}
.section-1-img-container {
    

}
.section-2-content-description {
    width: 468px;
    height: 52px;
    color: rgba(13, 19, 33, 0.7);
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    margin-top: 25px;

}
/* section-1 ends here */

/* my inspiration-section starts here */
.inspiration-section {
    width: 1140px;
    height: 775px;
    margin: 90px auto;
}
.inspiration-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.video-container {
    border: 1px solid rgba(13, 19, 33, 0.2) ;
    border-radius: 16px;
    height: 575px;
    width: 1140px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}
/* my inspiration-section ends here */

/* My current target section starts here */
.current-target-section {
    display: flex;
    flex-direction: column;
    max-width: 1140px;
    height: 440px;
    margin: 150px auto;
}
.current-target-header-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.current-target-card-container {
    margin-top: 48px;
    display: flex;
    gap: 24px;
}
.card {
    max-width: 364px;
    height: 299px;
    padding: 40px;
    border-radius: 16px;
}
.card h3 {
    color: rgb(13, 19, 33);
    font-size: 24px;
    font-weight: 800;
    line-height: 36px;
    text-align: left;
    margin: 8px 0px;
}
.card p {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    opacity: 0.7;
    margin: 8px 0px;
}
.card a {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 700;
    text-align: left;
    margin: 24px 0px;
}
.card1{
    background: rgba(255, 76, 30, 0.05);
}
.card2{
    background-color: rgba(0, 76, 232, 0.05);
}
.card3{
    background: rgba(255, 223, 0, 0.05);
}
/* My current target section ends here */

/* support section starts here  */

.support-section {
    height: 313px;
    max-width: 1140px;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.5);
    background-image: url(../assets/handshake.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
    border-radius: 16px;
}
.support-section-container {
    height: 313px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.support-section-container h2{
    width: 852px;
    height: 39px;
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-weight: 800;
    text-align: center;
    margin: 20px 0px;
}   
.support-section-container p{
    width: 852px;
    height: 52px;
    margin: 20px 0px;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    padding-left: 48px;
    padding-right: 48px;
    opacity: 0.7;

}
.input-container input{
    width: 548px;
    height: 57px;
    align-items: center;
    font-size: 16px;
    border: 1px solid rgba(13, 19, 33, 0.07);
    border-radius: 8px;
    background: rgb(255, 255, 255);
    padding: 19px 20px 19px 20px;
}
.input-container button {
    width: 120px;
    height: 58px;
    padding: 17px 20px 17px 20px;
    border-radius: 8px;
    display: inline-block;
    background: rgb(255, 255, 255);
    border: 1px solid rgba(13, 19, 33, 0.15);
    font-size: 20px;
    font-weight: 600;
}
/* support section starts here  */

/* footer section starts here */
.footer {
    max-width: 1440px;
    height: 100px;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 79px auto 0px auto;
    background-color: rgba(13, 19, 33, 0.03);
    padding: 32px 150px;

}
.footer h4 {
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
}
.footer-icons {
    max-width: 158px;
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: center;
}
/* footer section ends here */
